<launch>

	<!-- Run stage simulator and load world map -->
	<node pkg="stage_ros" type="stageros" name="stage_ros" args="$(find simstage_group3)/worlds/full_world_map.world" />

	<!-- Run worldmap navigation controller -->
	<node pkg="simstage_group3" type="worldmap_navigation" name="worldmap_navigation" output="screen"/>

</launch>