<launch>

	<!-- Run stage simulator and load world map -->
	<node pkg="stage_ros" type="stageros" name="stage_ros" args="$(find robotcraft-ros-navigation)/worlds/square_maze.world" />

	<!-- Run worldmap navigation controller -->
	<node pkg="robotcraft-ros-navigation" type="main" name="main_controller" output="screen"/>

</launch>